In [2]:
#Importing libraries
import pandas as pd

#Importing dataset
retail_df = pd.read_csv('ab_testing.csv')
display(retail_df.head())
display(retail_df.shape)

   User ID Group  Page Views  Time Spent Conversion   Device          Location
0    14292     B           3         424         No   Mobile  Northern Ireland
1    11682     A           9         342         No   Mobile          Scotland
2    19825     A           2         396         No  Desktop  Northern Ireland
3    16080     B           4         318         No  Desktop             Wales
4    18851     A           1         338        Yes  Desktop          Scotland

(5000, 7)

In [3]:
#There is a need for testing the significant differences between conversion rates for both groups A and B
#Reflecting on the dataset, Chi-Square test can be used to understand this difference.

#Creating a contingency table
cont_table = pd.crosstab(retail_df['Group'], retail_df['Conversion'])
print(cont_table)

Conversion    No  Yes
Group
A           2383  136
B           2132  349

In [4]:
#Importing libraries for Chi-Square Testing
from scipy.stats import chi2_contingency

#Executing Chi-Square Test
chi2, p, _, _ = chi2_contingency(cont_table)

print(f'Chi-Square Statistic: {chi2}')
print(f'P-Value: {p}')

Chi-Square Statistic: 106.22812337440538
P-Value: 6.571736018334222e-25

In [6]:
#There is a statistically significant difference between both groups. Hence it is needed to obtain conversion rates.
#Calculating the conversion rate for each group
conversion_counts = retail_df.groupby('Group')['Conversion'].value_counts().unstack()
conversion_counts['Conversion Rate'] = (conversion_counts['Yes'] / (conversion_counts['Yes'] + conversion_counts['No']))*100
display(conversion_counts)

Conversion    No  Yes  Conversion Rate
Group
A           2383  136         5.398968
B           2132  349        14.066909

In [7]:
#Extracting the conversion rates
conv_a = conversion_counts.loc['A', 'Conversion Rate']
conv_b = conversion_counts.loc['B', 'Conversion Rate']
print(f'Conversion rate for group A: {conv_a}%')
print(f'Conversion rate for group B: {conv_b}%')

Conversion rate for group A: 5.398967844382692%
Conversion rate for group B: 14.066908504635228%

In [8]:
#Obtaining the lift (percentage improvement from control group A to treatment group B)
lift = ((conv_b - conv_a)/conv_a)*100
print(f'Lift: {lift}%')

Lift: 160.54810678805987%